/PyWikibase/.env
/node_modules/
/locale/en/LC_MESSAGES/django.mo
/locale/fr/LC_MESSAGES/django.mo
/db.sqlite3
/static/
/PyWikibase/settings/.env
/package.json
/package-lock.json
/pywikibase.conf
/qodana.yaml
