{% extends "base.html" %}
{% load pecunia_tags %}
{% load document_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
    <h1>🗎&nbsp;{{ document|prop:'title'|html }}</h1>
    <div style="margin: -1em 1em 2em;">
        {% if user.is_authenticated %}
            <a href='{% url "document_update_text" document.display_id %}'>{% trans "document.edit.text" %}</a> -
        {% endif %}
        <a href="{% url "item_display" document.display_id %}">{% trans "global.item" %}</a> -
        <a href="{% url "document_list" %}">{% trans "global.back" %}</a>
    </div>
    <div style="margin: -1em 1em 2em; ">
        <div style="border: solid 1px gray; border-radius: 5px; width:500px; padding:5px">
            https://pecunia.huma-num.fr/documents/{{ document.display_id }}
        </div>
        <br/>
        <div>{{ document|prop_label:'source_type'|capitalize }}: {{ document|prop:'source_type'|html }}</div>
{#        <div>{{ document|prop_label:'date'|capitalize }}: {{ document|prop:'date' }}</div>#}
        <div>{{ document|prop_label:'author'|capitalize }}: {{ document|prop:'author'|html }}</div>
        <div>{{ document|prop_label:'author_function'|capitalize }}: {{ document|prop:'author_function'|html }}</div>
        <div>{{ document|prop_label:'main_edition'|capitalize }}: {{ document|prop_list:'main_edition'|html }}</div>
        <div>{{ document|prop_label:'see_also'|capitalize }}: {{ document|prop:'see_also'|html }}</div>
        <div>{{ document|prop_label:'provenance'|capitalize }}: {{ document|prop:'provenance'|html }}</div>
        {% if document|has_prop:'text' %}
            <br/>
            <div>{{ document|prop_label:'language'|capitalize }}: {{ document|prop:'language'|html }}</div>
            <div {% if document.translation %}style="display: grid; grid-template-columns: auto auto;"{% endif %}>
                <div class="text-wrapper">
                     <div class="line-numbers">
                        {{ document|line_numbers }}
                    </div>
                    <article>{{ document|prop:'text'|html  }}</article>{# FIXME |highlight_words #}
                </div>
                {% if document.translation %}
                    <article>{{ document|prop_mtv_value:'translation' }}</article>
                {% endif %}
            </div>
            <br/>
        {% endif %}
        <div>
            {% for process in processes %}
                {% empty %}
                No processes identified.
            {% endfor %}
        </div>
        <div>{{ document|prop_label:'bibliography'|capitalize }}: {{ document|prop_list:'bibliography'|html }}</div>
        <div>{{ document|prop_label:'commentary'|capitalize }}: {{ document|prop:'commentary'|html }}</div>
    </div>
{% endblock %}