{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <script type="module" src="{% static "pecunia/js/annotator/app.js" %}"></script>
    <form method="post">{% csrf_token %}
        <div id="app" data-document-id="{{ object }}">
            <div id="annotator">
                {{ form.language.label_tag }}{{ form.language.as_widget }}
                {{ form.text.label_tag }}
                {{ form.text.as_widget }}
            </div>
        </div>
        <input id="submit" type="submit" class="progressive" value="{% trans "global.save" %}">
    </form>

{% endblock %}