{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <script type="module" src="{% static "pecunia/js/annotator.js" %}"></script>
    <form method="post">{% csrf_token %}
        <div class="annotator-columns">
            <div class="annotator-text-column">
                {{ form.language.label_tag }}{{ form.language.as_widget }}
                {{ form.text.label_tag }}
                <span class="warning-span">Pas d’erreur.</span>
                {{ form.text.as_widget }}
            </div>
            <div class="annotator-preview-column">
                <div>Preview:</div>
                <div>Not implemented yet.</div>
            </div>
        </div>
        <input type="submit" value="{% trans "global.save" %}">
        <a class="button" href="{{ request.META.HTTP_REFERER|escape }}">{% trans "global.cancel" %}</a>
    </form>

{% endblock %}