{% extends "base.html" %}
{% load pecunia_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
    <h1 data-item_id="{{ item.display_id }}">Item Q{{ item.display_id }}</h1>
    <div style="margin: -1em 1em 2em; ">
        <table>
            <tr>
                <th>{% trans "global.language_code" %}</th>
                <th>{% trans "form.entity.label" %}</th>
                <th>{% trans "form.entity.description" %}</th>

                {% if user.is_authenticated %}
                    <th>{% trans "global.action" %}</th>
                {% endif %}
            </tr>
            <tr>
                <td>en</td>
                <td>{{ item|label:"en" }}</td>
                <td>{{ item|description:"en" }}</td>

                {% if user.is_authenticated %}
                    <td><a class="button"
                           href='{% url "item_updatelabeldescription" item.display_id "en" %}'>{% trans "global.edit" %}</a>
                    </td>
                {% endif %}
            </tr>
            <tr>
                <td>fr</td>
                <td>{{ item|label:"fr" }}</td>
                <td>{{ item|description:"fr" }}</td>

                {% if user.is_authenticated %}
                    <td>
                        <a class="button"
                           href='{% url "item_updatelabeldescription" item.display_id "fr" %}'>{% trans "global.edit" %}</a>
                    </td>
                {% endif %}
            </tr>
        </table>
        <div class="statements">
            {% for prop, statement in statements %}
                {% include "widgets/property_table.html" %}
            {% endfor %}

            {% if user.is_authenticated %}
                <a id="btn-new-statement" class="button" href="#">{% trans "global.statement.new" %}</a>
            {% endif %}
        </div>
        {% if linked_items|length != 0 %}
            <p>This item is used by:</p>
            <ul>
                {% for linked_item in linked_items %}
                    <li><a href='{% url 'item_display' linked_item %}'>Q{{ linked_item }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}