{% extends "base.html" %}
{% load i18n %}
{% load pecunia_tags %}
{% block content %}
    <h1>{% trans "form.person.list_title" %}</h1>

    {% if user.is_authenticated %}
        <a class="button" href='{% url "person_create" %}'>{% trans "form.person.new" %}</a>
    {% endif %}
    <table>
        <tr>
            <th>{% trans "form.person.name" %}</th>
            <th>{% trans "form.person.description" %}</th>
            <th>{% trans "global.action" %}</th>
        </tr>

        {% for item in items %}
            <tr>
                <td>{{ item|label:LANGUAGE_CODE }}</td>
                <td>{{ item|description:LANGUAGE_CODE }}</td>
                <td>
                    <a class="button" href='{% url "person_display" item.id %}'>{% trans "global.see" %}</a>
                    <a class="button" href='{% url "person_update" item.id %}'>{% trans "global.edit" %}</a>
                    <a class="button" href='{% url "person_delete" item.id %}'>{% trans "global.delete" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}