{% extends "base.html" %}
{% load pecunia_tags %}
{% load i18n %}
{% block content %}
    <h1>🏛️&nbsp;{{ place.name }}</h1>
    <div style="margin: -1em 1em 2em;">

        {% if user.is_authenticated %}
            <a href='{% url "item_display" place.display_id %}'>{% trans "global.edit" %}</a> -
        {% endif %}
        <a href="{% url "place_list" %}">{% trans "global.back" %}</a>
    </div>
    <div style="margin: -1em 1em 2em; ">
        <div style="border: solid 1px gray; border-radius: 5px; width:500px; padding:5px">
            http://pecunia.huma-num.fr/place/{{ place.display_id }}
        </div>
        <br/>
        <div>Type: {{ place.get_type_display }}</div>
        <div>Pleiades: {{ place|prop:'pleiades'|as_link:'link' }}</div>
    <div>{{ place|prop_label:'coordinates'|capitalize }}: {{ place|prop:'coordinates'|html2 }}</div>

    </div>
    <script>/**
 *
 * @param {HTMLElement} mapElement
 */
function generateLeafletMap(mapElement) {
  const id = mapElement.getAttribute('id');
  const latitude = parseFloat(mapElement.dataset.lat);
  const longitude = parseFloat(mapElement.dataset.lon);

  const map = L.map(id).setView([latitude, longitude], 6);
  L.tileLayer('https://dh.gu.se/tiles/imperium/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://imperium.ahlfeldt.se/">DARE</a>',
    maxZoom: 10
  }).addTo(map);
  L.marker([latitude, longitude]).addTo(map);
}

  document.querySelectorAll('.map').forEach(item => generateLeafletMap(item));</script>
{% endblock %}