
.statement-group {
    border: 1px solid grey;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: auto auto;
    margin: 10px;
}

.property-cell {
    grid-row: 1 / all;
    grid-column: 1;
    padding: 8px;
}

.snak-cell {
    border: 1px solid grey;
    grid-column: 2;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: auto auto;
}

.value-cell {
    grid-column: 1;
    border: 1px solid grey;
    padding: 8px;
}

.actions-cell {
    border: 1px solid grey;
    grid-column: 2;
    padding: 4px;
}

.new-value-cell {
    border: 1px solid grey;
    grid-column: 2;
    padding: 8px;
}

.qualifiers-cell {
    border: 1px solid;
    font-size: 90%;
    margin: 10px;
    padding: 5px
}

.reference-record-cell {
    border: 1px solid;
    margin: 10px;
}

.reference-cell {
    border: 1px solid;
    margin: 10px;
}

.map {
    width: 400px;
    height: 300px;
    border: 2px solid #333;
}
