{% load pecunia_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div id="P{{ prop.display_id }}" data-property-id="{{ prop.display_id }}" class="statement-group">
    <div class="property-cell">
        <a href='{% url "property_display" prop.display_id %}'>{{ prop|label_or_default:LANGUAGE_CODE }}</a>
    </div>
    {% for stat in statement %}
        <div class="snak-cell" data-statement-id="{{ stat.id }}">
            <div class="value-cell">
            {% if user.is_authenticated %}
                <div class="actions-cell">
                    <a class="btn-edit-value button progressive" href='#'>{% trans "global.edit" %}</a>
                    <a class="btn-delete-value button destructive" href='#'>{% trans "global.delete" %}</a>
                </div>
            {% endif %}
                <span>{{ stat.rank }}</span>
                {% if stat.mainsnak.type == 0 %}
                    {{ stat.mainsnak|html2 }}
                {% elif stat.mainsnak.type == 1 %}
                    <i>Unknown value</i>
                {% elif stat.mainsnak.type == 2 %}
                    <i>No value</i>
                {% endif %}
                {% include "wikibase/widgets/qualifiers_table.html" %}
                <div class="reference-record-cell">
                    {% for ref in stat.reference_records.all %}
                        <ul class="reference-cell">
                            {% for ref_stat in ref.snaks.all %}
                                <li>
                                    <a href='{% url "property_display" ref_stat.snak.property.display_id %}'>{{ ref_stat.snak.property|label_or_default:LANGUAGE_CODE }}</a>
                                    {{ ref_stat.snak.type }}

                                    {{ ref_stat.snak|html2 }}</li>
                            {% endfor %}
                        </ul>
                    {% empty %}
                        No references.
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <div class="new-value-cell">
            <a class="button btn-add-value progressive" data-property="{{ prop.display_id }}" href='#'>
                {% trans "global.statement_value.new" %}
            </a>
        </div>
    {% endif %}
</div>