/* Style the button that is used to open and close the collapsible content */
.collapsible {
    cursor: pointer;
    width: 100%;
    border: solid 1px;
    text-align: left;
    outline: none;
    margin-left: 0;
}

.collapsible .icon {
    float: right;
}

.collapsible.active .icon::before {
    content: "▾";
    line-height: 1em;
    font-size: 1.5em;
}

.collapsible:not(.active) .icon::before {
    content: "▴";
    line-height: 1em;
    font-size: 1.5em;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    margin-bottom: 10px;
    transition: max-height 0.2s ease-out;
}

.delete-and-collapse-buttons {
    display: flex;
}

.delete-and-collapse-buttons .collapsible {
    flex-grow: 2;
    width: unset;
}