{% extends "base.html" %}
{% load pecunia_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
    <h1>{% trans "form.item.list_title" %}</h1>
    {% if user.is_authenticated %}
        <a class="button progressive" href='{% url "item_create" %}'>{% trans "form.item.new" %}</a>
    {% endif %}

    {% include "wikibase/widgets/pagination.html" %}
    <table>
        <tr>
            <th>{% trans "global.id" %}</th>
            <th>{% trans "form.entity.label" %}</th>
            <th>{% trans "form.entity.description" %}</th>
            <th>{% trans "global.action" %}</th>
        </tr>

        {% for item in page_obj %}
            <tr>
                <td>Q{{ item.display_id }}</td>
                <td>{{ item|label_or_default:LANGUAGE_CODE }}</td>
                <td>{{ item|description_or_default:LANGUAGE_CODE }}</td>
                <td>
                    <a class="button neutral" href='{% url "item_display" item.display_id %}'>{% trans "global.see" %}</a>

                    {% if user.is_authenticated %}
                        <a class="button destructive" href='{% url "item_delete" item.display_id %}'>{% trans "global.delete" %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include "wikibase/widgets/pagination.html" %}
{% endblock %}
